body{
    background-color: rgb(65, 71, 71);
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.container-margintop{
    margin-top: 80px;
}
.custom-heigth{
    min-height: 500px;
    max-height: 510px;
    overflow-y: auto;
}
.text-size{
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
}
label{
    font-size: 0.9rem;
    font-style: italic;
    font-weight: bold;
    color: #12067e;

}
.text-error{
    font-size: 0.7rem;
    font-style: italic;
    font-weight: bold;
    color: #ff0000;

}
.card-size{
    min-height: 400px;
}
.bg-hospital {
    background-color: #1178ee; /* Color azul */
    height: 100%; /* Asegura que la altura cubra el 100% */
    color: rgb(244, 247, 247);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px; /* Ajusta el espaciado interno */
}
.logo-login{
    height: 150px;
}


